extends ../boilerplate/basic.pug

block head
  style.
    .app {
      border: 1px solid #f5f5f5;
      padding: 10px;
      text-align: center;
    }
    .app p {
      height: 1em;
    }
  
block body
  a(href="/") back

  h1 Synchronizing Input with Paragraph Content

  p Another React type of example with my pubsub and state functions.

  include ../components/input-sync.pug

  script(
    src="https://gist.github.com/ksnabb/1a591c112fbb4bf4b3187dca9b0bde9f.js"
  )
