extends ../boilerplate/basic.pug

block head
    style.
        .app {
            border: 1px solid #f5f5f5;
            padding: 10px;
            text-align: center;
        }
        .app p {
            height: 1em;
        }

block body
    a(href="/") back

    h1 Programmable View For the State and Pubsub

    p.
      Here is a simple implementation of a programmable view.
      I will not cal it a VDOM as the definition found on the internet is
      quite different from only being a tree hierarchy structure written in JavaScript.

    include ../components/programmable-view.pug

