extends ../boilerplate/basic.pug

block head
  style.
    .app {
      border: 1px solid #f5f5f5;
      padding: 10px;
      text-align: center;
    }
  
block body
  a(href="/") back

  h1 Seconds elapsed

  p In this note I implemented a seconds elapsed example which is rendered below.

  include ../components/seconds-elapsed.pug

  p.
    Seconds elapsed can be implemented with the same boilerplate functions (pubsub.js and state.js) that was introduced
    for the Simple Counter implemented #[a(href="/notes/simple-counter.html") here].

  p The implementation of the seconds elapsed component utilizing state.js and pubsub.js can be seen below:

  script(
    src="https://gist.github.com/ksnabb/8122a3143279dfb10f57069c5ee3c540.js"
  )
