extends boilerplate/basic.pug

block body
  h1 notes

  ul
    li
      h2 Functional Programming
      p Notes about functional programming
      ul
        li
          a(href="notes/composition-with-javascript.html") Composition with JavaScript
        li
          a(href="notes/curry-with-javascript.html") Curry with JavaScript
    li
      h2 React Examples Without React
      p.
        These notes are React examples (found on the web) implemented with vanilla JavaScript and Server Rendered HTML.
      ul
        li
          a(href="notes/simple-counter.html") Simple Counter
          ul
            li
              a(href="notes/simple-counter-test.html") Testing the Simple Counter
        li
          a(href="notes/seconds-elapsed.html") Seconds Elapsed
        li
          a(href="notes/input-sync.html") Sync input with paragraph text
    li
      h2 The JS Framwork for Browsers
      p.
        Boilerplate from the "React Examples Without React"
      ul
        li
          a(href="notes/the-framework.html") The Framework
    li
      h2 Testing webpages
      p.
        Testing this notes page
      ul
        li
          a(href="index_test.html") Testing this notes page (validate links)
