h1 notes

ul
  li
    a(href='notes/composition-with-javascript.html') Composition with Javascript
  li
    a(href='notes/simple-counter.html') Simple Counter
    ul
      li
        a(href='notes/testing-simple-counter.html') Testing the Simple Counter